# Root Environment Configuration Template
# For Backend settings, refer to ./backend/.env.example
# For Mobile settings, refer to ./mobile/.env.example

# App Environment (development, test, production)
NODE_ENV=development
